@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Oleo+Script:wght@400;700&display=swap');
 .ttx{
  font-family: "Oleo Script", system-ui;
 }
 *{
   font-family: "Livvic", sans-serif;
 }
.fu{
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
}
.icon button{
   margin: 10px;
   border: none;
   font-size: 25px;
   font-weight: normal;
   background-color: transparent;
}
.overlay{
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
  position: fixed;
  z-index: 99;
  width: 100%;
}
.popup{
  height:500px;
  width: 800px;
  background-color: white;
  position: fixed;
  z-index: 999;
  left: 20%;
  top: 30px;
  overflow: scroll;
   

}
/* .div1{
  height: 1000px;
  width: 400px;
  background-color: aqua;
} */
 #ht{
  font-size: 30px;
  font-weight: bold;
 }
 .fn p{
  font-size: 14px;
 }
 .fn b{
  font-size: 14px;
 }
 /* .bgs{
  background-color: #F9F9F9;
  border-radius: 8px;
 
 } */
 
 .searchs input{
 width: 80%;
  padding: 10px;
  margin-left: 40px;
  border-radius: 5px;
  border: none;
 border-radius: 30px 0px 0px 30px;
  border: 1px solid lightgray;
 }
 .searchs button{
 background-color: black;
 border-radius: 0px 30px 30px 0px;
 
  border: none;
  text-align: center;
  padding: 10px;
  text-align: center;
  color: white;
  
 }
 .sea{
  width: 88%;
  margin-left: 5%;
  border-radius: 30px;
  border: 1px solid lightgray;
  margin-bottom: 20px;
  padding: 10px;
 }
 .eye{
  font-size: 30px;
 }
#log{
  margin-top: 20px;
  width: 88%;
  margin-left: 5%;
  border-radius: 30px;
}
.with button{
  margin-left: 50px;
  width: 300px;
  border: 1px solid black;
  padding: 10px;
}
.have{
  font-size: 14px;
 font-size: 14px;
cursor: pointer;

}
.meu-item {
  position: relative;
 box-shadow: 0px 0px 10px 2px #ccc;
}
.menubar{
  
  width: 1300px;
  background-color:#F0F0EE;
  position: absolute;
 
  transform: scale(0);
  left: 20px;
  top: 55px;
  z-index: 99;
  box-shadow: 0px 0px 10px 2px #ccc;



}
.menus>li>a{
 font-weight: normal;
 font-weight: 500;
 display: flex;
 list-style: none;
 text-decoration: none;
 color: #e88493;
 

 
 
}
 
.menus>li>a:hover .menubar{
    transform: scale(1);
}
.stock h5{
  font-size: 15px;
  padding-left: 30px;
  padding-top: 30px;
  text-decoration: underline;

}
.stock{
  border-right: 1px solid lightgray;
  margin: 10px;
}
.stock p{
  
  font-size: 14px;
  font-weight: normal;
 margin-left: 30px;
}
.stock p:hover{
  text-decoration: underline;
}
.pr img{
  height:350px;
  margin-top: 10px;
}
.prs img{
  width: 100%;
  height: 400px;
  padding: 10px;
 
}
.overlay1{
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
  position: fixed;
  z-index: 9999;
  width: 100%;
}
.popup1{
  height:500px;
  width: 1300px;
  background-color: white;
  position: fixed;
  z-index: 99999;
 left: 20px;
  top: 15%;
  
  
  overflow-y: scroll;
}
.formBox{
  border: 1px solid lightblue;
  padding: 10px;
}
.formBox input{
   width: 90%;
   padding: 10px;
  border: none;
   margin-top: 20px;

}
.formBox input::placeholder{
  font-weight: 600;
}
.formBox button{
  border: 1px solid lightblue;
  border-radius: 30px;
  width: 100px;
  padding: 10px;
  font-size: 20px;
}
.shrt p{
  border: 1px solid black;
  cursor: pointer;

  width: 40px;
  font-size: 18px;
  border-radius: 8px;
  text-align: center;
  height: 40px;
  line-height: 20px;

}
.shrt input{
  height: 20px;
  width: 20px;
  margin-top: 10px;
}
.shrt p:hover{
  background-color: black;
  color: white;
}
.shrt{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.checkBox{
   height: 10px;
   width: 20px;
   padding: 10px;
}

.effect1 img{
 width: 95%;
  cursor: pointer;

}
.the p{
  font-size: 12px;
}
.sale{
  background-color: #F0F0EE;
}
.men h1{
  font-weight: bold;
  padding: 30px;
  margin-top: 10%;
  font-size: 50px;
}
.men button{
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
  width: 200px;
}
.wths p{
 font-size: 14px;
}
.wths{
  margin-top: 10px;
}
.font{
  font-size: 20px;
}
.dre p{
 
  padding: 10px;
  
}
.cls{
 background-color: #fff;
 margin-top: 5%;
 padding: 10px;
 
}
#from{
  width: 90% !important;
}
.dk{
 
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
/* .dk1 img{
  transition: 0.5s;
}
.dk1 img:hover{
  transform: scale(1.1);

} */
.whts{
  position: absolute;
  background-color: white;
  
  width: 250px;
  bottom: 150px;
  left: 30px;

  transform: scale(0);
  border-bottom: 2px solid orange;
  
}
.dk:hover .whts{
  transform: scale(1);
}
.para p{
  padding: 10px;
}
.para p:hover{
  background-color: black;
  color: white;
  
  font-size: 12px;
}
.pds p{
  font-size: 14px;
}
.pd{
  font-size: 25px;
}
.rn{
  font-size: 14px;
  padding-left: 15px;
  color: #ccc;
}
.scrolls{
  width: 90% !important;
}
.better h1{
  margin-top: 10%;
  font-size: 50px;
}
.better h3{
  font-size: 20px;
  padding-top: 30px;
  color: #b6b1b1;
}
.better h5{
  text-decoration: underline;
  cursor: pointer;
  padding-top: 30px;
}
.hh img{
  height: 260px;
}
.mn h5{
  font-size: 14px;
  padding-top: 10px;
}
.mn p{
  font-size: 14px;
}
.info h5{
  padding: 10px;
}
.info p{
  font-size: 14px;
  padding-left: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.info p:hover{
  color: chocolate;
  text-decoration: underline;
}
.infos h5{
  font-size: 17px;
  padding: 10px;
}
.fst input{
  border: 1px solid #ccc;
  
}
.inp input{
  background-color: transparent;
  border: 0.5px solid black;
}
.inp label{
  font-size: 12px;
}
.sub{
  border: 2px solid white;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}
.bgs{
  background-color: black;
  padding: 20px;
}
.frank p{
  color: white;
  font-size: 10px;
}
.md{
  margin-top: 20px;
  font-size: 30px;
 
  color: black;
}
.brd{
  border-bottom: 1px solid lightgray;
  padding: 10px;
}
#accor{
 height: 500px;
  
 
  overflow-y: scroll;
  
 
}
.tops input{
  height: 20px;
  width: 20px;
}
.tops p{
  font-size: 14px;
}

.bgall{
 background-color: #b6b1b1;
 height: 20px;
 width: 20px;
 border-radius: 50%;
}
.bgall1{
 background-color: black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
 }
 .bgall2{
  background-color: blue;
  height: 20px;
  width: 20px;
  border-radius: 50%;
 }
 .bgall3{
 background-color: chocolate;
  height: 20px;
  width: 20px;
  border-radius: 50%;
 }
 .bgall4{
  background-color: darkcyan;
  height: 20px;
  width: 20px;
  border-radius: 50%;
 }
 .txt h5{
  font-size: 14px;
  padding: 10px;
  font-weight: 600;
 }
 .txt p{
  font-size: 14px;
  padding-left: 10px;
 }
 .size{
  position: relative;
  cursor: pointer;
 

 }
 .abc{
   height: 20px;
   border-radius: 8px 0px 8px 0px;
   line-height: 12px;
   width: 50px;
   text-align: center;
   z-index: 99;
 }
 .abcd{
  overflow: hidden;
 }
 .abcd img{
  overflow: hidden;
  transition: 0.5s;
 }
 .abcd img:hover{
    transform: scale(1.1);

 }
 .ffs{
  font-size: 12px;
  color: white;
  background-color: #0c5332;
  width: 50px;

 }
 .pop{
   height: 100px;
   width: 85%;
   background-color: white;
   border-radius: 4px;
   bottom: 130px;
   left: 20px;
   position: absolute;
   transform: scale(0);
   z-index: 99;
   color: #050e0a;
   

 }
 .pop p:hover{
  background-color: black;
  padding: 10px;
  color: white;
  cursor: pointer;
  height: 30px;
  width: 35px;
  margin-left: 10px;
  text-align: center;
  
  line-height: 10px;
 }
 .size:hover .pop{
  transform: scale(1);
 }
 .size{
  margin-top: 30px;
 }
 .cont p{
    font-size: 14px;
    padding: 10px;
 }
 .ikon{
  font-size: 25px;
 }
 .sec p{
  font-size: 14px;
 }
 .rds{
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: cadetblue;
  border-radius: 50%;
  transform: scale(0);
  border: 1px solid black;
 }
 .size:hover .rds{
  transform: scale(1);
 }
 .new{
   position: absolute;
   height: 20px;
   width: 50px;
   background-color: black;
   color: white;
   top: 0px;
   text-align: center;
   font-size: 14px;
   right: 10px;
   z-index: 99;
   font-weight: 500;
   border-radius: 4px;
   border-radius: 8px 0px 8px 0px;
 }
 .para1 p{
  font-size: 12px;
  background-color: black;
 }
 /* #cart{
  width: 1000px;
  background-color: white;
 } */
  .bg1{
    background-color: #F0F0EE;
    font-size: 18px;
    padding: 10px;
    border-radius: 8px;
  }
  .flx p{
    font-size: 14px;
    padding-right: 20px;
  }
  .rel{
    position: relative;
  }
  .rel1{
    position: absolute;
    background-color: white;
    color: #e88493;
   bottom: 20px;
   padding: 5px;
   left: 70px;
  }
  .bgs2{
   background-color: #F0F0EE;
    padding: 10px;
    border-radius: 4px;
  }
  .stck{
   position: sticky !important;
   top: 0;
   z-index: 99;
   background-color: #030303f0;
  
   
  }
  .ww{
    width: 95% !important;
    background-color: white;
  }
  #women{
    background:linear-gradient(#00000074,#00000059), url('https://cdn.accentuate.io/317418537117/1716394320125/PLP_Banner_2232x808.jpg?v=1716394320125');
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   width: 70%;
   padding-left: 10%;
  }
  .fonts1{
    font-size: 25px;
    font-weight: bold;
  }
  .news1{
    background-color: black;
    color: white;
    width: 50px;
    font-size: 14px;
    
    text-align: center;
    cursor: pointer;
  }
  .news2 h3{
    font-size: 20px;
   
  }
  .news2 p{
    font-size: 12px;
  }
  .to{
    width: 90%;
    border: none;
    transition: 0.5s;
    background-color: black;
  }
  .ci{
    width: 100px;
    font-size: 30px;
  }
  .to:hover{
    background-color: #656060;
    opacity: 0.4;
  }
  .gifs{
    /* background-color: rgba(234,11,34,0.5),rgba(0,0,0,0.5); */
    background: linear-gradient(#faa070,#b1b1cd);
    border-radius: 8px;
    cursor: pointer;
  }
  .pop2{
   position: relative;
   cursor: pointer;
  }
  .pops1{
    position: absolute;
    height: 300px;
    width: 350px;
    background-color: #0c5332;
    left: -315px;
    top: 50px;
    border-radius: 8px;
    transform: scale(0);
  }
  .pop2:hover .pops1{
    transform: scale(1);
  }
  .ame{
    background-color: #F0F0EE;
    padding: 10px;
    font-size: 12px;
  }
  .fb p{
    background-color: #F0F0EE;
    padding: 10px;
    font-size: 12px;
  }
  .fb1 p{
    font-size: 12px;
  }
  .titl img{
     width: 200px;
  }
  .ikons{
    font-size: 20px;
   

  }
  .an{
    padding-bottom: 60px;
  }
  #cr{
    width: 98%;
  }
  #frmss{
    width: 500px;
    margin: auto;
    box-shadow: 0px 0px 10px 2px #ccc;
    padding: 10px;
    border-radius: 8px;
  }
  .found{
    
    height: 500px;
  }
  .in{
    font-size: 14px;
    

  }
  .in:hover{
    text-decoration: underline;
    color: #0c5332;
  }
  .ins{
    padding-left: 20px;
    font-size: 14px;
    color: #0c5332 !important;

  }
  #franks{
    font-weight: bold;
    font-size: 30px;
  }
  .pos{
    position: relative;
  }
  .num{
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
    top: -5px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    right: 0;

  }
  .bdr1{
   
   border: 0.5px solid black;
    color: white !important;
    text-align: center;
    padding: 5px;
   
    
  }
  .register{
   width: 90%;
   margin: auto;
   box-shadow: 0px 0px 10px #ccc;
   padding: 20px;
   
  }
  .register input{
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    
  }
  .fe{
    font-size: 30px;
  }
  .stok{
    font-size: 40px;
    font-weight: bold;
  }
 #last{
  height: 1000px;
  overflow: scroll;
 }
 .wths1 img{
  width: 100%;
  height: 200px;
  margin: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 }
 .locks{
  border-radius: 0px 0px 4px 4px;
   background-color: white;
   padding: 10px;

 }
 .fs{
   font-size: 25px;
  color: white;
   font-weight: bold;
 }
 .pos1{
   position: absolute;
   right: 0;
   background-color: #050e0a;
   color: white;
   border-radius: 8px;
   border: none;
   padding: 10px;
   
 }
 .tex{
  border-radius: 8px 0px 8px 0px;
  background-color: #050e0a;
  color: white;
  height: 25px;
 }
 
 .ttx{
  color: #73b9da !important;
  font-family: "Oleo Script", system-ui;
 }
 .hvs p:hover{
    background-color: #050e0a;
    color: white;
    transition: 0.5s;
    cursor: pointer;
 }
 .dynamic_img{
  overflow: hidden;
 }
 .dynamic_img img{
  overflow: hidden;
  transition: 0.5s;
 }
 .dynamic_img img:hover{
   transform: scale(1.1);
 }
 .wishlist{
  top: -50px;
 }
 .cart{
  margin-top: 10px;
   width: 100px;
   padding: 5px;
   color: white;
   background-color: black;
   text-align: center;
   border: 0;

 }
 .offs{
    background: linear-gradient(#00800084,#0080008b);
    color: white;
    padding: 5px;
 }
 .subcatdata{
  display: flex;
  justify-content: space-between;
  color: #1e1a0b;
  font-weight: 600;
  letter-spacing: 0.5px;
 }
 .loading img{
   position: fixed;
  
   left: 50%;
 }
 .blc{
  display: block;
 }
 .orders{
   background-color: #586543;
   margin-top: 20px;
   
 }
 .startxt{
  color:#e6e64a;
 }
 .hovercompo{
  transition: 0.5s;
 }
 .hovercompo:hover{
  box-shadow: 0px 0px 10px 2px #ccc;
  transform: translateY(-10px);
 }
 